
.contact {
  max-width: 500px;
  margin: 170px auto;
  padding: 25px;
  background-color: hwb(0 96% 4%);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(53, 52, 52, 0.1);
  font-family: Arial, sans-serif;
}


.contact div {
  margin-bottom: 15px;
}


.contact label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #161414;
}


.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.success {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}
