.contact-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  font-family: Arial, sans-serif;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #d31919;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-container button:hover {
  background: #45a049;
}



.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}
