
.contact-container {
  max-width: 450px;
  margin: 130px auto;
  padding: 40px;
  border: 1px solid #f1e9e9;
  border-radius: 20px;
  background: #0b0808;
  font-family: Arial, sans-serif;
  color: #f1e9e9;
  box-shadow: 0 4px 10px rgba(53, 52, 52, 0.2);
}
.contact-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #d7caca;
}

.contact-container div {
  margin-bottom: 20px;
}

.contact-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #242020;
  border-radius: 10px;
  background-color: #5e5c5c;
  color: #fff;
  font-size: 15px;
}

.contact-container textarea {
  height: 120px;
  resize: none;
}
.contact-container button {
  width: 100%;
  padding: 14px;
  background: #e22e2e;
  color: #f0e9e9;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.contact-container button:hover {
  background: #5672c6;
}


.error {
  color: #ff5c5c;
  background: #2b0000;

}

.success {
  color: #4aff4a;
  background: #002b00;

}
