.contact-container {
  max-width: 450px;
  margin: 70px auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #121111;
  font-family: Arial, sans-serif;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ccc;
}



.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 17px;
  margin-top: 10px;
  border: 1px solid #343131;
  border-radius: 10px;
  
  
}

.contact-container button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border:none;
  background: #d31919;
  color: rgb(240, 233, 233);
  font-size: 19px;
  border-radius: 20px;
  cursor: pointer;
}

.contact-container button:hover {
  background: #45a049;
}



.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}
