.card { 
  display: flex;
  gap: 20px;
  margin: 20vh;
  justify-items: center;
    
}
body {
  background-color: black;
}
.link-card {
  width: 200px;
  text-decoration: none;
  color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;  
  cursor: pointer;
}
  