body{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  z-index: 2000;
  width: 100%;
  top: 0;
}

.navList{
   padding-top: 10px;
}


.navList li {
  list-style: none;
  text-decoration: none;
}

.navList li a {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: red;
}

/*===================heroSection================================*/

.heroSection{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url(../public/heroSection2_pic.jpg);
  background-size: contain;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroSection p{
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    width: 40%;
    padding-left: 390px;
    
}

/*==============movieDtails====================================*/

.movieDtails{
  background-color: white;
  /* background: linear-gradient(135deg, #141414, #530a0a); */
  color: white;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  padding: 80px;
}

.movieImg img{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9));
  border: rgb(207, 18, 18) solid 2px;
  margin-top:20px ;
  border-radius: 8px;
  height: 524px;
}

.Details{
 background-color: rgb(5, 5, 5);
 margin-top:20px ;
 padding: 15px;
 border: rgb(190, 28, 28) solid 2px;
 border-radius: 8px;
 line-height: 25px;
 max-width: 700px;
}

.movieTitle{
  margin-bottom: 40px;
  color: red;
  font-style: oblique;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.actors{
  padding-left: 18px;
}

#titleLine{
  border: 1px solid red;
   width: 100%; 
   margin: 15px auto;
}


#actorsLine{
    border: 1px solid red;
    width: 80%;
    margin: 20px auto;
    margin-top: -30px;
    margin-left: 84px;
}


/*=============================Footer============================*/

.footer{
  background: linear-gradient(rgba(0,0,0,0.6),rgb(0,0,0.5,0.6)),url(/public/2151067003.jpg);
  /* background-color: black; */
  background-size: contain;
  height: 100vh;
  margin-bottom: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.footer h2{
  color: red;
  font-size: 42px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 220px;
}

.footer h3{
  color: red;
  font-size: 22px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
 
}

.footer p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 72%;
    line-height: 40px;
    margin: 0 auto;
 
}